@font-face
{
    font-family: 'Big Noodle Titling';
    src: url('fonts/big_noodle_titling.ttf');
}
*
{
    font-family: 'Big Noodle Titling', Impact, Arial Black, sans-serif;
}
body
{
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
html
{
    height: 100%;
    width: 100%;
    z-index: 1; /* set index to 1 to allow pop ups like sign up form to function */
    overflow-x: hidden;
}
#background{
    background: #2C882B;
    position: sticky;
    top: 0;
}

#maindisplay
{
    background-color: #006225;
    display: grid;
    grid-template-columns: 60% 40%;
    height: 50%;
}
#bottombuttons
{
    display: grid;
    grid-template-columns: 35% 30% 35%;
    padding-top: 1%;
    padding-bottom: 1%;
}

table
{
    border-spacing: 0;
    border-collapse: separate;
    /*border-radius: 10px;*/
}
#maindisplay td, #maindisplay tr, .reminder-row
{
    color: #111;
    border-top: solid black 1px;
    border-bottom: solid black 1px;
}
.apps, #remindercontainer
{
    width: 100%;
    height: 92%;
}
.apps
{
    text-align:center;
}
.apps tr
{
    height: 100px;
    width: 100%;
}

.users {
    text-align: center;
    width: 100%;
    margin: 0;
}

.appsdisplay
{
    padding-right: 3%;
    overflow-y: auto;
    overflow-x: hidden;
    padding-left: 3%;
    height: 300px;
}

#announcementcontainer
{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    overflow: auto;
    height: 300px;
}
#announcementcontainer, #maindisplay table
{
    background-color: white;
    border: 1px solid black;
    margin: 20px 10px 10px;
}

th, .container-title
{
    font-size: 2em;
    text-align: center;
    color: white;
    background-color: #333333;
}
.inline
{
    display: inline;
}
#team-beetle
{
    width: 100%;
    padding: 10px;
}


#grc-logo{
    width: 160px;
}
li{
    font-size:20pt;
    padding:10px;

}
.navbar
{
    background-color:  #2C882B;
}
.nav-link
{
    color: #fff;
}
.links{
    margin-left:5%;
    padding:10px;
}
li:hover{
    text-decoration: underline white 2px;

}

#toggleContainer
{
    padding: 10px;
}

.toggle
{
    border: 2px solid grey;
}

.main-display
{
    width: 100%;
}

.user-display {
    padding: 0;
    overflow: auto;
    height: 350px;
}

td,tr,.announcement-row
{
    color: #111;
    border-bottom: solid 1px #333333;
}

.users tr {
    height: 100px;
    width: 100%;
}

.users tr td {
    font-family: Arial, Helvetica, sans-serif;
}

.table-title {
    font-size: 30px;
    background: #333333;
    color: white;
    text-align: center;
}

.view-info {
    cursor: pointer;
}

.delete-account {
    cursor: pointer;
}

.user-details
{
    overflow: auto;
    height: 350px;
    border: none;
}

.category-title {
    font-size: 30px;
}

.category-user-email {
    overflow: auto;
}

.user-details .buttons {
    display: flex;
    flex-direction: row;
    grid-gap: 30px;
    margin: 10px 0;
}

.user-details p {
    font-family: Arial, Helvetica, sans-serif;
}

.user-details img {
    width: 100px;
    margin-bottom: 20px;
}

.user-details .user-grid {
    font-size: 20px;
}

.form-user-info {
    width: 100%;
    display: flex;
    flex-direction: column;
    grid-gap: 10px;
}
.contact {
    cursor: pointer;
}

.spacing {
    margin: 30px;
    flex: 1;
}

/* Footer CSS */

footer {
    margin-top: 200px;
    background-color: #333333;
    color: white;
    padding: 10px;
    border-top: 10px solid #5c5c5c;
    position: relative;
    bottom: 0;
    width: 100%;
}

footer h1 {
}


footer ul {
    list-style-type: none;
    padding-left: 0;
}

footer a {
    text-decoration: none;
    color: white;
}

.welcome-text {
    grid-row-gap: 40px;
}

.welcome-text-box {
}

.footer-resources {
}

.welcome-text a {
    font-family: Arial, Helvetica, sans-serif;
}

footer p {
    font-family: Arial, Helvetica, sans-serif;
}

.footer-resources a {
    font-family: Arial, Helvetica, sans-serif;
}

.footer-resources li {
    padding: 0;
    font-size: 16px;
}
/* end footer css */

/*-------------------------------------------------------------------------------------------------------------*/
/* Beginning of Review Application CSS Form */
/*-------------------------------------------------------------------------------------------------------------*/
.review-app-close-button{
    position: absolute;
    left: 95%;
    width: 30px;
    height: 29px;
    border: black solid 1px;
    display: grid;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
    background-color: white;
    top: 5%;
    cursor: pointer;
}
.review-app-form {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    z-index: 2;
    position: absolute;
    top: 0;
    overflow-x: hidden;
    overflow-y: visible;
    backdrop-filter: blur(5px);
    visibility: hidden;
    opacity: 0;
    transition: 0.5s;
}
#review-app-content{
    background: white;
    height: 55%;
    width: 30%;
    z-index: 2;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    overflow-y: scroll;
    flex-direction: column;
    align-items: center;
    padding-top: 15px;
}

/*-------------------------------------------------------------------------------------------------------------*/
/* Beginning of Add Application CSS Form */
/*-------------------------------------------------------------------------------------------------------------*/
.app-close-button{
    position: absolute;
    left: 95%;
    width: 30px;
    height: 29px;
    border: black solid 1px;
    display: grid;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
    background-color: white;
    top: 5%;
    cursor: pointer;
}
.add-app-form {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    z-index: 2;
    position: absolute;
    top: 0;
    overflow-x: hidden;
    overflow-y: visible;
    backdrop-filter: blur(5px);
    visibility: hidden;
    opacity: 0;
    transition: 0.5s;
}
.add-app-input
{
    padding-bottom: 5px;
}
#add-app-content{
    background: white;
    height: 55%;
    width: 30%;
    z-index: 2;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    overflow-y: scroll;
    flex-direction: column;
    align-items: center;
    padding-top: 15px;
}
.add-app-form input
{
    justify-items: center;
    width: 100%;
}
.add-app-flavor-text
{
    text-align: center;
}
#app-info
{
    width: 100%;
}
.add-app-input
{
    padding-bottom: 5px;
}
.add-app-form input
{
    justify-items: center;
    width: 100%;
}
.add-app-flavor-text
{
    text-align: center;
}
/* contact */
.contact-form{
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    z-index: 2;
    position: absolute;
    top: 0;
    overflow-x: hidden;
    backdrop-filter: blur(5px);
    visibility: hidden;
    opacity: 0;
    transition: 0.5s;
}
.contact-close-button{
    position: relative;
    left: 95%;
    width: 30px;
    height: 29px;
    border: black solid 1px;
    display: grid;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
    background-color: white;
    bottom: -2%;
    cursor: pointer;
}
.form-content-contact {
    background: white;
    height: 60%;
    width: 30%;
    z-index: 2;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 15px;
}
.form-user-info {
    width: 100%;
    display: flex;
    flex-direction: column;
    grid-gap: 10px;
}
.form-content-contact>form
{
    width: 80%;
}
.form-content-contact button {
    height: 40px;
    width: 60%;
    align-self: center;
    margin-top: 30px;
    border: none;
    background-color: #2eb05d;
    color: white;
    border-radius: 5px;
}
.contact {
    cursor: pointer;
}
span.error
{
    color: #f44;
    display: none;
}
/*-------------------------------------------------------------------------------------------------------------*/
/* All items related to sign-up form*/
/*-------------------------------------------------------------------------------------------------------------*/
/* changes sign up cursor hover to the pointer icon */
.sign-up {
    cursor: pointer;
}

/*
  CSS for the div container that holds the form element
 - changes the z index to 2 so its on top of the elements
 - makes the position absolute so it's stays in same spot on page
 - gives the container a backdrop filter that makes everything behind blurred
 - visibility is hidden until sign up form anchor element is pressed
 - makes the opacity transition duration 0.5 seconds.
*/
.signup-form {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    z-index: 2;
    position: fixed;
    top: 0;
    overflow-x: hidden;
    backdrop-filter: blur(5px);
    visibility: hidden;
    opacity: 0;
    transition: 0.5s;
}

/*
 CSS for the form container itself
 - width and height are both set below, easily adjustable
 - used top and left attributes to center it, as well as the margin-right and transform/translate
 - made the display inside flex and aligned everything center
*/
.form-content {
    background: white;
    width: 100%;
    height: 100%;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 110%;
}

/*
 - used this div container to seperate the first 3 input elements
 to avoid affecting the other input elements within the form
*/
.form-user-info {
    width: 100%;
    display: flex;
    flex-direction: column;
    grid-gap: 10px;
}

/*
 - makes the input box width 100% across the form
*/
.form-user-info input {
    width: 100%;
}

/*
 - sets margin top of h1 element to 15px
*/
.form-content h1 {
    font-size: 60px;
    margin-top: 15px;
}

/*
 - all elements within the form displayed as a column
 - width set to 80%
*/
.form-content form {
    display: flex;
    flex-direction: column;
    width: 90%;
    height: 70%;
}

.form-checkboxes label {
    font-size: 20px;
}

/*
 - input height adjusted to 30px;
*/
.form-content input {
    height: 30px;
}

/*
 - div container to evenly space out the checkboxes and labels
*/
.form-checkboxes {
    display: grid;
    grid-template-columns: 0.1fr 1fr;
    margin: 15px 0 15px 0;
}

/*
 - changes the width of the checkboxes
*/
.form-checkboxes input {
    width: 70%;
}

/*
 - checkboxes labels centered
*/
.form-checkboxes label {
    align-self: center;
}

/*
 CSS for the submit button
*/
.form-content button {
    height: 40px;
    width: 60%;
    align-self: center;
    margin-top: 30px;
    border: none;
    background-color: #2eb05d;
    color: white;
    border-radius: 5px;
}

/*
 CSS for the close form button
 will be changed later to an image rather than a "p" element
*/
.form-close-button{
    position: relative;
    left: 67%;
    top: -47%;
    width: 30px;
    height: 29px;
    border: black solid 1px;
    display: grid;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
    background-color: white;
    bottom: -2%;
    cursor: pointer;
}

/*
 - adjusts the p color and margin
*/
.form-close-button p {
    margin: 0;
    color: #6b2d2d;
}

.sign-up-image {
    width: 500px;
    height: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sign-up-image img {
    width: 1000px;
    height: 1000px;
}
.grc-form-logo
{
    /*width="160" height="100"*/
    width: 160px;
}

.img-form-container {
    width: 70%;
    height: 700px;
    max-width: 997px;
}

@media screen and (max-width:991px) {
    .sign-up-image {
        border: 1px solid green;
        height: 20%;
    }
}

.grc-form-logo {
}

.terms-conditions {
    text-align: center;
    width: 100%;
    margin: 0;
    font-size: 13px;
}

/* End sign up form css */

/* delete button styles */

.delete-account-overlay {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    z-index: 2;
    position: fixed;
    top: 0;
    overflow-x: hidden;
    backdrop-filter: blur(5px);
    visibility: hidden;
    opacity: 0;
    transition: 0.5s;
}

.delete-container {
    background: white;
    width: 400px;
    height: 350px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 100%;
    border-radius: 5px;
    grid-row-gap: 10px;
}

.delete-container h3 {
    text-align: center;
}

.delete-container h2 {
    font-size: 50px;
}

.delete-description {
    font-family: Arial, Helvetica, sans-serif;
}


.delete-buttons {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    grid-gap: 20px;
}

.delete-container button {
    width: 40%;
    height: 40%;
    transition: 0.5s;
}

.delete-container button:hover {
    transition: 0.5s;
}

.delete-button {
    color: #ab0000;
    border: solid #ab0000 2px;
}

.delete-buttons form {
    width: 40%;
    height: 40%;
}

.delete-buttons button[type="submit"] {
    display:flex;
    height: 100%;
    width: 100%;
    justify-content:center;
    align-items:center;
}
/* Delete button end styles */

/*message for softdelete.php page and change admin page*/
.delete-message {
    width:100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
