@font-face
{
    font-family: 'Big Noodle Titling';
    src: url('fonts/big_noodle_titling.ttf');
}
*
{
    font-family: 'Big Noodle Titling', Impact, Arial Black, sans-serif;
}
body
{
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
html
{
    height: 100%;
    width: 100%;
    z-index: 1; /* set index to 1 to allow pop ups like sign up form to function */
    overflow-x: hidden;
}
#background{
    background: #2C882B;
    position: sticky;
    top: 0;
}
#grc-logo{

    width:10%;
    height:10%;

}
li{
    font-size:20pt;
    padding:10px;

}
.links{
    margin-left:5%;
    padding:10px;
}
li:hover{
    text-decoration: underline white 2px;

}

#toggleContainer
{
    padding: 10px;
}

.toggle
{
    border: 2px solid grey;
}

.main-display
{
    background-color: #006225;
}

.apps-display {
    height: 300px;
    padding: 0;
    overflow: auto;
}

td,tr,.reminder-row
{
    color: #111;
    border-top: solid black 1px;
    border-bottom: solid black 1px;
}

.apps tr {
    height: 100px;
}

.apps tr td {
    font-family: Arial, Helvetica, sans-serif;
}

.table-title {
    font-size: 30px;
    background: #333333;
    color: white;
    text-align: center;
}


.apps
{
    text-align: center;
    width: 100%;
}

.view-info {
    border: solid green 1px;
}

.delete-account {
    border: solid red 1px;
    margin-right: 10px;
}

.user-details
{
    overflow: auto;
    height: 300px;
}

.category-title {
    font-size: 30px;
}

.user-details .buttons {
    display: flex;
    flex-direction: row;
    grid-gap: 30px;
    margin-top: 30px;
}

.user-details .info-button-message {
    border: green solid 1px;
    padding: 10px 20px;
    margin: 5px;
    border-radius: 5px;
}

.user-details .info-button-delete {
    border: #ff0000 solid 1px;
    padding: 10px 20px;
    margin: 5px;
    border-radius: 5px;
}

.user-details p {
    font-family: Arial, Helvetica, sans-serif;
}

.user-details img {
    width: 100px;
    margin-bottom: 20px;
}

.user-details .user-grid {
    height: 200px;
    font-size: 20px;
}

.user-details, table
{
    background-color: white;
    border: 1px solid black;
}

/* Beginning of Add Application CSS Form */
.addapp-form {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    z-index: 2;
    position: absolute;
    top: 0;
    overflow-x: hidden;
    backdrop-filter: blur(5px);
    visibility: hidden;
    opacity: 0;
    transition: 0.5s;
}
.app-close-button {
    position: relative;
    left: 95%;
    width: 30px;
    height: 29px;
    border: black solid 1px;
    display: grid;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
    background-color: white;
    bottom: -2%;
    cursor: pointer;
}

.addapp-form {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    z-index: 2;
    position: absolute;
    top: 0;
    overflow-x: hidden;
    backdrop-filter: blur(5px);
    visibility: hidden;
    opacity: 0;
    transition: 0.5s;
}
.addapp-input
{
    padding-bottom: 5px;
}
.add-app-form input
{
    justify-items: center;
    width: 100%;
}
.add-app-flavor-text
{
    text-align: center;
}

/* contact */
.contact-form{
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    z-index: 2;
    position: absolute;
    top: 0;
    overflow-x: hidden;
    backdrop-filter: blur(5px);
    visibility: hidden;
    opacity: 0;
    transition: 0.5s;
}
.contact-close-button{
    position: relative;
    left: 95%;
    width: 30px;
    height: 29px;
    border: black solid 1px;
    display: grid;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
    background-color: white;
    bottom: -2%;
    cursor: pointer;
}
.form-content-contact {
    background: white;
    height: 560px;
    width: 400px;
    z-index: 2;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 15px;
}
.form-user-info {
    width: 100%;
    display: flex;
    flex-direction: column;
    grid-gap: 10px;
}
.contact {
    cursor: pointer;
}


/* Beginning of Add Application CSS Form */
.addapp-form {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    z-index: 2;
    position: absolute;
    top: 0;
    overflow-x: hidden;
    backdrop-filter: blur(5px);
    visibility: hidden;
    opacity: 0;
    transition: 0.5s;
}

.app-close-button {
    position: relative;
    left: 95%;
    width: 30px;
    height: 29px;
    border: black solid 1px;
    display: grid;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
    background-color: white;
    bottom: -2%;
    cursor: pointer;
}


.spacing {
    flex: 1;
}

/* Footer CSS */

footer {
    margin-top: 200px;
    background-color: #333333;
    color: white;
    padding: 10px;
    border-top: 10px solid #5c5c5c;
    position: relative;
    bottom: 0;
    width: 100%;
}

footer h1 {
}


footer ul {
    list-style-type: none;
    padding-left: 0;
}

footer a {
    text-decoration: none;
    color: white;
}

.welcome-text {
    grid-row-gap: 40px;
}

.welcome-text-box {
}

.footer-resources {
}

.welcome-text a {
    font-family: Arial, Helvetica, sans-serif;
}

footer p {
    font-family: Arial, Helvetica, sans-serif;
}

.footer-resources a {
    font-family: Arial, Helvetica, sans-serif;
}

.footer-resources li {
    padding: 0;
    font-size: 16px;
}
/* end footer css */
