body
{
    margin: auto;
    background-color: white;
    width: 50%;
    align-content: center;
    border-color: black;
    border-style: solid;
}
form
{
    /*Style the border of form*/
    border-style: solid;
    border-radius: 10px;
    border-color: black;
    /*aligning content to center*/
    width: 70%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container
{
    padding-top: 10%;
    margin: auto;
    width: 50%;

}
.title
{
    /*our little title header thingy*/
    background-color: green;
    height: 200px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
h1
{
    font-size: 45px;
}

html
{
    background-image: url("images/GRCBackground.webp");
    background-repeat: no-repeat;
    background-size: auto;
}
.form-content
{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.form-content h1 {
    font-size: 60px;
    margin-top: 15px;
}

/*
 - all elements within the form displayed as a column
 - width set to 80%
*/
.form-content form {
    display: flex;
    flex-direction: column;
    width: 90%;
    height: 70%;
}

.form-checkboxes label {
    font-size: 20px;
}

/*
 - input height adjusted to 30px;
*/
.form-content input {
    height: 30px;
}

/*
 - div container to evenly space out the checkboxes and labels
*/
.form-checkboxes {
    display: grid;
    grid-template-columns: 0.1fr 1fr;
    margin: 15px 0 15px 0;
}

/*
 - changes the width of the checkboxes
*/
.form-checkboxes input {
    width: 70%;
}

/*
 - checkboxes labels centered
*/
.form-checkboxes label {
    align-self: center;
}

/*
 CSS for the submit button
*/
.form-content button {
    height: 40px;
    width: 60%;
    align-self: center;
    margin-top: 30px;
    border: none;
    background-color: #2eb05d;
    color: white;
    border-radius: 5px;
}

span.error
{
    color: #f44;
    display: none;
}